.Rectangle-4 {
  width: 86.3vw;
  margin: auto;
  padding: 53.3px 40px 90.7px 39.7px;
  border-radius: 8px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  margin-bottom: 20vh;
}

.Rectangle-16846 {
  width: 32px;
  height: 4px;
  border-radius: 2px;
  background-image: linear-gradient(265deg, #7467f0 98%, #2896e9 0%);
}
.yci {
  margin: 0 0 4px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  text-align: left;
  color: #161616;
}
.mm {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #8d8d8d;
}
.flex-down {
  display: flex;
  flex-direction: column;
  margin-bottom: 13vh;
}

.graph-value {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 20px;
}
.rect-19 {
  width: 6.8px;
  height: 6.8px;
  background-color: #309fc9;
}
.perc {
  width: 69px;
  height: 24px;
  margin: 0 0 0 8px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  color: #748aa1;
}
